services:
  web:
    build:
      context: .
    container_name: inizio_web
    ports:
      - "8000:8000"
    environment:
      - ENV=development
    command: uvicorn main:app --host 0.0.0.0 --port 8000

